.dots {
    display: flex;
    gap: 5px; /* Rozstawienie kropek */
  }
  
  .dot {
    width: 12px;
    height: 12px;
    background-color: #e0e0e0;
    border-radius: 50%;
  }
  
  .dot.filled {
    background-color: #007bff;
  }
  